<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple NodeJS app using Express</title>
</head>
<body>
    <%users.forEach(user =>{%>
        <ol>
        <li><%= user.name %></li>
        <li><%= user.email %></li>
    </ol>
    <%})%>

    <button><a href="/form">Add User</a></button>
</body>
</html>